.btn-accent-outline {
    border: 2px solid var(--accent-secondary);
    border-radius: 0;
    padding: 10px 45px;
    transition: all .25s ease-in-out;
    cursor: pointer;
    display: inline-block;
}

.btn-accent-outline:hover {
    border: 2px solid var(--accent-secondary);
    background: var(--accent-secondary);
    color: white;
    text-decoration: none;
}

.btn-main * {
    transition: all .25s ease-in-out;
}

.btn-main {
    background: transparent;
    padding: 2px;
    transition: all .25s ease-in-out;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #c3c2c0;
}

.btn-main span {
    padding: 5px 35px;
    display: block;
}

.btn-main:hover,
.btn-main:hover span {
    background: var(--accent-primary);
    text-decoration: none;
}

.btn-main.regular span {
    background: white;
    color: black;
}

.btn-main.regular:hover span {
    background: var(--accent-primary);
}

a.btn-main.transparent {
    background: transparent;
}

a.btn-main.white,
a.btn-main.white * {
    border-color: #c3c2c0 !important;
    color: white;
}